<html lang="pt-br">

<head>
   <title>Virtuakeo | Renda Extra</title>
   <title>Virtuakeo Places</title>
   <meta 
      name="description" 
      content="Quem não gosta de dicas sobre renda extra, não é mesmo?!
      Aqui você encontrará matérias sobre como ter uma renda extra, principalmente pela web."
      >
   <meta name="robots" content="index, follow" />
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=yes">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="shortcut icon" href="./../../../public/favicon.svg">
   <link rel="stylesheet" type="text/css" href="../../styles/virtuakeo_news_all_lists/virtuakeo_news_all_lists.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3DP807VCNQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3DP807VCNQ');
</script>

<body>
   <container class="container_virtuakeo_all_list">
      <header class="header_virtuakeo_all_list border-header">
         <div id="div_header_virtuakeo_all_list">
            <div class="div_p_header_virtuakeo_all_list">
               <p class="header_virtuakeo_all_list_p">
                  <img class="img_header_virtuakeo_all_list" 
                     src="../../assents/imgs/virtuakeo_renda_extra_lists/extra_money.png"
                     alt="Renda Extra" 
                  />
                  Quem não gosta de dicas sobre renda extra, não é mesmo?!
                  Aqui você encontrará matérias sobre como ter uma renda extra, principalmente pela web.
               </p>
            </div>
         </div>
      </header>

      <a href="../virtuakeo_news_initial/virtuakeo_news_initial.html">
         <img class="button_close" 
            src="../../assents/icons_interface/close_button.svg" 
            alt="Close Button" 
            title="Fechar" />
      </a>

      <ul class="group_cards_virtuakeo_all_list">
         <li class="card_virtuakeo_all_list border-container">
            <img class="img_card_virtuakeo_all_list" src="../../assents/imgs/virtuakeo_renda_extra_lists/online_shop.svg"
               alt="Loja Online" />
            <div class="div_virtuakeo_all_list">
               <h1 class="title_virtuakeo_all_list">Crie seu négocio online</h1>
               <p class="paragraph_virtuakeo_all_list">Conheça uma das melhores plataformas para construir sua renda extra online.</p>
            </div>

         </li>



      </ul>
   </container>

   <footer id="footer_dock_bar_virtuakeo_news" class="border_footer">

      <nav id="dock_nav_menu border_nav">

         <ul class="ul_dock_nav_menu border_ul">

            <li class="background_icon_li border_li">
               <a href="../../../../index.html">
                  <img class="shadow_icon_dock border" width="80px" height="80px"
                     src="../../assents/icons_dock/home_icon_dock.svg" alt="Inicio" title="Início" />
               </a>
            </li>
            <li class="background_icon_li border_li">
               <a href="../../../src/view/virtuakeo_news_initial/virtuakeo_news_initial.html">
                  <img class="shadow-icon_dock border" width="80px" height="80px"
                     src="../../assents/icons_dock/Icon_virtuakeo_news_dock.svg" alt="Virtuakeo News"
                     title="Virtuakeo News" />
               </a>
            </li>
                     <!-- <li class="background_icon_li border_li">
               <a href="https://wa.me/5531995601785?text=Gostaria%20de%20contratar%20seus%20serviços" target="_blank"
                  rel="noopener noreferrer">
                  <img class="shadow_icon_dock border" width="80px" height="80px"
                     src="../../../assents/icons_dock/whatsapp.svg" alt="WhatsApp" title="WhatsApp" /> 
               </a>
            </li>
        -->
         </ul>

      </nav>

   </footer>

</body>

</html>