<html lang="pt-br">

<head>
   <title>Virtuakeo Games</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=yes">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="shortcut icon" href="./../../../public/favicon.svg">
   <link rel="stylesheet" type="text/css" href="../../styles/virtuakeo_news_all_lists/virtuakeo_news_all_lists.css">
</head>

<body>
   <container class="container_virtuakeo_all_list">
      <header class="header_virtuakeo_all_list border-header">
         <div id="div_header_virtuakeo_all_list">

            <div class="div_p_header_virtuakeo_all_list">
               <p class="header_virtuakeo_all_list_p">

                  <img class="img_header_virtuakeo_all_list"
                     src="../../assents/imgs/virtuakeo_games_lists/gamer_thumb.png" alt="Panda lendo" />

                  Fique por dentro dos melhores assuntos do mundo gamer!
                  Seja mobile ou de console, aqui você encontra as notícias e reviews de games.
               </p>
            </div>
         </div>
      </header>

      <a href="../virtuakeo_news_initial/virtuakeo_news_initial.html">
         <img class="button_close" src="../../assents/icons_interface/close_button.svg" alt="Close Button"
            title="Fechar" />
      </a>

      <ul class="group_cards_virtuakeo_all_list">
         <li class="card_virtuakeo_all_list border-container">
            <img class="img_card_virtuakeo_all_list"
               src="../../assents/imgs/virtuakeo_games_lists/img_test_annie_skull_girls.jpeg" alt="Games Icon" />
            <div class="div_virtuakeo_all_list">
               <a href="../../News/games/historia_de_annie_skullgirls/historia_de_annie_skullgirls.html">
                  <h1 class="title_virtuakeo_all_list">Conheça a história da Annie de Skull Girls</h1>
               </a>
               <p class="paragraph_virtuakeo_all_list">Annie, uma personagem de ataques fortes, mas você sabe o que ela
                  sofreu no passado?</p>
            </div>

         </li>

         <li class="card_virtuakeo_all_list border-container">
            <img class="img_card_virtuakeo_all_list" src="../../assents/imgs/virtuakeo_games_lists/kiana.PNG"
               alt="Games Icon" />
            <div class="div_virtuakeo_all_list">
               <a href="../../News/games/kiana_e_sua_nova_jornada/kiana_e_sua_nova_jornada.html">
                  <h1 class="title_virtuakeo_all_list">Kiana e sua nova jornada</h1>
               </a>
               <p class="paragraph_virtuakeo_all_list">Inesquecível Honkai Impact, Kiana, MEI, Broynia em novos desafios
                  de cair o queixo.</p>
            </div>

         </li>


         <li class="card_virtuakeo_all_list border-container">
            <img class="img_card_virtuakeo_all_list" src="../../assents/imgs/virtuakeo_games_lists/Subway Tag.png"
               alt="Games Icon" />
            <div class="div_virtuakeo_all_list">
               <a href="../../News/games/subway_surfers_tag/subway_surfers_tag.html">
                  <h1 class="title_virtuakeo_all_list">Subway Surfers Tag</h1>
               </a>
               <p class="paragraph_virtuakeo_all_list">O novo modo de jogar o famoso game Subway Surfers Tag, uma nova versão
                  no Apple Arcade.</p>
            </div>

         </li>



      </ul>
   </container>

   <footer id="footer_dock_bar_virtuakeo_news" class="border_footer">

      <nav id="dock_nav_menu border_nav">

         <ul class="ul_dock_nav_menu border_ul">

            <li class="background_icon_li border_li">
               <a href="../../../../index.html">
                  <img class="shadow_icon_dock border" width="80px" height="80px"
                     src="../../assents/icons_dock/home_icon_dock.svg" alt="Inicio" title="Início" />
               </a>
            </li>
            <li class="background_icon_li border_li">
               <a href="../../../src/view/virtuakeo_news_initial/virtuakeo_news_initial.html">
                  <img class="shadow-icon_dock border" width="80px" height="80px"
                     src="../../assents/icons_dock/Icon_virtuakeo_news_dock.svg" alt="Virtuakeo News"
                     title="Virtuakeo News" />
               </a>
            </li>
            <li class="background_icon_li border_li">
               <a href="https://wa.me/5531995601785?text=Gostaria%20de%20contratar%20seus%20serviços" target="_blank"
                  rel="noopener noreferrer">
                  <img class="shadow_icon_dock border" width="80px" height="80px"
                     src="../../assents/icons_dock/whatsapp.svg" alt="WhatsApp" title="WhatsApp" />
               </a>
            </li>
         </ul>

      </nav>

   </footer>

</body>

</html>